.about-data__description, .about-data__content {
	width: $container-width / 2;		
	padding-left: 40px;
}

.about-data__text {	
	// margin: 0 40px;
	position: relative;

	&_paragraph {
		margin-bottom: 20px;
	}	
}

