.about {
    @extend %clearfix;    
}

.about__left, .about__right {
    float: left;
    width: 50%;
    position: relative;
    height: 100%;
    
    @include tablets() {
        float: none;
        width: 100%;
    }
}

.about__left {
    background: $white;
}

.about__right {
    background: $beige;
}

.about__triangles {
    position: absolute;
    bottom: 100%;
}

.about__subtitle {
    padding: 45px 80px; 
    @include centered(x);
	position: relative;
}