.add-course-form {
	padding: 10px;
	height: 650px;
}

.add-course-form__buttons {	
	top: 650px;
	background: rgba($skills-green, .5);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}