.autorization-form {
    width: 380px;
    height: 365px;
    background: rgba(#fff, .35);
    border-radius: 5px;
    @include centered();
    padding: 0 20px;
    color: #727c84;
    text-align: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.autorization-form__title {
    padding: 20px 0;
}

.autorization-form__login, .autorization-form__password {    
    margin-bottom: 20px;
}

.autorization-form__icon {    
    display: inline-block;
    fill: #c4c9cb;    
    height: 16px;
    vertical-align: middle;
    width: 16px;
  }

.autorization-form__label, .autorization-form__input {    
    outline: 0;
    border: none;    
    border-radius: 5px;
    padding: 15px;
}


.autorization-form__label {
    font-size: 15px;
    width: 15%;
    background-color: #efeee9;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;    
}

.autorization-form__input {    
    width: 85%;
    margin: 0;
    background-color: #fff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .autorization-form__captcha {
      margin: 30px 0;
  }

.autorization-form__checkbox {    
    @include centered(x);           
  }

.autorization-form__question {
    font-weight: bold;
    padding-top: 35px;
}
  

.autorization-form__button_left, .autorization-form__button_right {
    height: 50px;
    font-weight: bold;
    display: block;
    float: left;
    width: 49.9%; 
    position: absolute; 
    top: 365px;     
    bottom: 0; 
    background: rgba($skills-green, .5);   
  }

.autorization-form__button_left {
    left: 0;
    border-bottom-left-radius: 5px;    
}

.autorization-form__button_right {
    right: 0;
    border-bottom-right-radius: 5px;    
}
