.button { 
    cursor: pointer;   
    padding: 10px 20px;
    border: none;    
    outline: none;
    color: #fff; 
    transition: all .4s;   
}

.save-button {    
    background: $skills-green;
    margin: 20px 0;

    &:hover {
        background: darken($skills-green, 5%);
    }
}