.form {   
    width: 380px;
    background: $form-color;
    border-radius: 5px;
    @include centered();
    top: 45%;
    padding: 0 20px;
    color: #727c84;    
    text-align: center; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: fixed;       
}

.form__title {
    padding: 20px 80px;
}

.form__label {
    display: block;    
}

.status {
    position: fixed;
    width: 380px;
    top: 60px;
    left: 50%;
    margin-left: -190px;
}

.form__icon {    
    display: inline-block;
    fill: #c4c9cb;    
    height: 16px;
    vertical-align: middle;
    width: 16px;
}

.input__label, .form__input {    
    outline: 0;
    border: none;        
    border-radius: 5px;
    padding: 13px;   
}

.input__label {
    font-size: 15px;
    width: 15%;
    background-color: #efeee9;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;    
}

.form__input { 
    color: #727c84;    
    width: 85%;
    margin: 0;
    background-color: #fff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {    
        -webkit-appearance: none;
        margin: 0; 
    }

    // &::-webkit-calendar-picker-indicator {
    //     color: transparent;
    //     opacity: 1;
    //     background: url("/assets/img/icons/calendar.svg") no-repeat center;
    //     background-size: contain;
    //   }
  }

.form__input-line {    
    position: relative;
    margin-bottom: 20px;    
}

.form__input-file-img {
    @include centered(x);
    position: relative;    
    width: 180px;
    height: 180px;
    background: $skills-grey;
    background-repeat:no-repeat;
	background-size:cover;
    background-position:center top; 
    
    &:after {
        content: attr(data-content);
        position: absolute;
        @include centered;
        z-index: -1;
      }
}

.form__input-file-trigger {
    display: block;          
  }

.form__input-file {
    position: absolute;
    top: 0; left: 0;
    width: 180px;
    height: 180px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}

.form__input-group {
    float: left;
    width: 50%;
}

.form__btn-group {
    width: 380px;
	left: 0;	
	position: absolute;
}

.form__button_left, .form__button_right {
    height: 50px;
    font-weight: bold;    
    width: 49.87%;     
    background: rgba($skills-green, .5);
    
    &:hover {
        background: rgba($skills-green, .7);
    }
  }

.form__button_left {
    float: left;
    border-bottom-left-radius: 5px;    
}

.form__button_right {
    float: right;
    border-bottom-right-radius: 5px;    
}