.header {
    height: 60px;
    background: $menu-color;  
    padding: 10px;  
}

.header__menu {   
    float: right;
    padding: 5px;  
}

.header__logo, .header__search {
    float: left;
    width: 26%;
}

.header__search {
    position: relative;
    padding: 5px;

    @include phones() {
        display: none;
    }
}

.header__logo-img {
    max-width: 150px;
    max-height: 40px;
}