.hero {
	height: 600px;
	overflow: hidden;
	position: relative;
}

.hero__bg-img {
	max-width: 100%;
}

.hero__socials {
	position: absolute;
	top: 35px;
	left: 40px;
}

.hero__title {
	@include centered(y);
	text-align: center;
	width: 100%;
}

.hero__user-block {
	@include centered();
}

.hero-user__photo {
	width: 147px;
	height: 147px;
}

.hero-user__photo-img {
	width: 147px;	
}