.hero {
	height: 600px;
	overflow: hidden;
	position: relative;
}

.hero-socials {
	position: absolute;
	top: 35px;
}

.hero__title {
	@include centered(y);
	text-align: center;
	width: 100%;
}

.hero__user-block {
	@include centered();
}