.login-form {    
    height: 350px;
    position: absolute;      
}

.login-form__captcha {
      margin: 25px 0;
  }

.login-form__checkbox {    
    @include centered(x);           
  }

.login-form__question {
    font-weight: bold;
    padding-top: 35px;
}
  
.login-form__buttons {
    top: 350px;
}
