.skills-section {
	// width: $container-width / 2;		
	padding: 0 40px;
}

.skills-section__item {
	position: relative;	
	margin-left: 40px;
	display: inline-block;
	width: 115px;
	height: 115px;
  }

  .skill-section__title {
	  margin: 55px 40px 20px;
	  color: $main-font-color;
	  font-size: 28px;
	  font-weight: bold;
  }