.skills-section {		
	padding: 0 40px;
}

.skill-section__list_about {
	padding: 0 20px;
}

.skills-section__item {
	position: relative;	
	margin: 0 20px;
	display: inline-block;
	width: 115px;
	height: 115px;
  }

  .skill-section__title {
	  margin: 55px 40px 20px;
	  color: $main-font-color;
	  font-size: 28px;
	  font-weight: bold;
  }