.topnews__item {
	background: #fff;
	border: 1px solid rgba(#000, .1);
	// border-radius: 5px;
	margin: 10px 0;
	padding: 20px;
}

.topnews__header {
	@extend %clearfix;
	line-height: 50px;
	border-bottom: 1px solid rgba(#000, .1);
}

.topnews__user {	
	float: left;
}

.topnews-user__photo {
	width: 40px;
	height: 40px;
	float: left;	
}

.topnews-user__photo-img {
	width: 40px;
}

.topnews-user__name {
	font-weight: bold;
	float: left;
	margin-left: 15px;	
}

.topnews-user__desc, .topnews__date {
	color: lighten($main-font-color, 25%);
	font-size: 14px;
	float: left;

	&:before {
		content: "|";
		margin: 10px;
	}
}

.topnews__content {
	padding: 10px 0;
	max-height: 208px;
	overflow: hidden;
}

.topnews__events {
	border-top: 1px solid rgba(#000, .1);
	padding-top: 10px;
}
