.user-about {	
	float: right;	
	padding: 0 40px;
}

.user-about__picture {	
	position: relative;
	height: 600px;
	overflow: hidden;
}

.user-about__photo-img {
	max-width: 100%;	
	@include centered();
	position: relative;
}

.user-about__text {

	&_paragraph {
		margin-bottom: 20px;
	}	
}