$white: #efeee9;
$beige: #eeebdf;
$main-font-color: #373e42;
$skills-grey: #dfdcd5;
$skills-green: #10c1a8;
$socials-color: #fff;

//layout setups
@import "layout/setups.scss";
@import "layout/fonts.scss";

//mixins
@import 'helpers/mixins.scss';

@import 'blocks/**/*.scss';
