extends ../main-layout.pug

block vars
	- var title = 'Courses'

block content
	.container
		section.section.breadcrumbs        
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a(href="#").breadcrumbs__link Main 
				li.breadcrumbs__item
					a(href="#").breadcrumbs__link Education                                            
				li.breadcrumbs__item
					a.breadcrumbs__link Courses

		aside.sidebar
			ul.courses-category
				li.courses-category__item.sidebar__section
					a(href="").courses-category__link Front-End
						span.courses-category__total (25 courses)
				li.courses-category__item.sidebar__section
					a(href="").courses-category__link Back-End
						span.courses-category__total (15 courses)
				li.courses-category__item.sidebar__section
					a(href="").courses-category__link Workflow
						span.courses-category__total (10 courses)

		main.main-content.topnews__item

			ul
				each index in items
					figure
					p
						img(src=`${index.picture}`).form__input-file-img
					figcaption= index.name
				
			form.form.add-course-form#add-course(action='/upload' method="POST" enctype="multipart/form-data")
				.form__title.subtitle.subtitle_dashed Add course
				.status
				.form__input-line
					textarea(name="text" placeholder="Describe the course").dialog__text.topnews__content.form__input#course-desc
				.form__input-line
					.form__input-file-img#img-holder
					label(tabindex="0" for="file-select").button.save-button.form__input-file-trigger Upload picture							
					input(name="photo" type="file" required accept="image/*").form__input.form__input-file#file-select
				
				.form__input-line
					label(for="date-start").form__label Course starts:							
					label.input__label
						svg.form__icon
								use(xlink:href=`assets/img/sprite.svg#calendar`)
					input(id="date-start" type="date" name="start" class="form__input login-form__username" placeholder="" required)

				.form__input-line
					label(for="date-end").form__label Course ends:							
					label.input__label
						svg.form__icon
								use(xlink:href=`assets/img/sprite.svg#calendar`)
					input(id="date-end" type="date" name="end" class="form__input login-form__username" placeholder="" required)
				
				.add-course-form__buttons.form__btn-group
					input(name="" type="submit" value="Add course").button.form__button_left#add-btn
					input(name="" type="reset" value="Cancel").button.form__button_right

			section.pagination
				a(href="#").pagination__control.pagination__control_left &#8249
				ul.pagination__list
					li.pagination__item
						a(href="#").pagination__link 1
					li.pagination__item
						a(href="#").pagination__link 2
					li.pagination__item
						a(href="#").pagination__link 3
					li.pagination__item
						a(href="#").pagination__link 4
					li.pagination__item
						a(href="#").pagination__link 5
				a(href="#").pagination__control.pagination__control_right &#8250
	.empty

	block scripts
		script(src=`assets/js/courses${suffix}.js${version}`)