include ../mixins/mixins

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //- link(rel="stylesheet", href="assets/css/foundation.css")
        link(rel="stylesheet", href="assets/css/normalize.css")
        link(rel="stylesheet", href="assets/css/app.css")
        title ITlink - Login
    body
        .wrapper
            .login__bg
                    img(src="assets/img/bg/portfolio.jpg", alt="").login__bg-img

            button.button(id='registration').button.registration-button Registration

            .flip-container(ontouchstart="this.classList.toggle('hover');")#flip
                .flipper
                    .front            
                        form(id='login-form').form.login-form(action='login' method="POST")
                            .form__title.subtitle.subtitle_dashed Log in
                            .status
                            .form__input-line
                                label.input__label
                                    svg.form__icon
                                            use(xlink:href=`assets/img/sprite.svg#login`)
                                input(id="login" type="text" name="login" class="form__input login-form__login" placeholder="Login" required)
                            .form__input-line
                                label.input__label
                                    svg.form__icon
                                            use(xlink:href=`assets/img/sprite.svg#password`)
                                input(id="password" type="text" name="password" class="form__input login-form__password" placeholder="Password" required)
                            
                            .login-form__captcha
                                .login-form__checkbox
                                    label.checkbox I am a human
                                        input.checkbox__input(type="checkbox" checked="checked")
                                        span.checkbox__checkmark
                                .login-form__question Are you sure?
                                .login-form__radio
                                    label.radio Yes
                                        input.radio__input(type="radio" name="radio")
                                        span.radio__checkmark
                                    label.radio I'm not sure
                                        input.radio__input(type="radio" name="radio")
                                        span.radio__checkmark

                            .login-form__buttons.form__btn-group
                                button.button(id='main-button').form__button_left Main                
                                input.button(type="submit" id='login-button' value='Log in').form__button_right 

                    
                    .back
                        form(id='login-form').form.registration-form(action='login' method="POST")
                            .form__title.subtitle.subtitle_dashed Registration
                            .status
                            .form__input-line
                                label.input__label
                                    svg.form__icon
                                            use(xlink:href=`assets/img/sprite.svg#login`)
                                input(id="login" type="text" name="login" class="form__input login-form__login" placeholder="Login" required)
                            .form__input-line
                                label.input__label
                                    svg.form__icon
                                            use(xlink:href=`assets/img/sprite.svg#password`)
                                input(id="password" type="text" name="password" class="form__input login-form__password" placeholder="Password" required)
                            
                            .form__input-line
                                label.input__label
                                    svg.form__icon
                                            use(xlink:href=`assets/img/sprite.svg#email`)
                                input(id="email" type="email" name="email" class="form__input login-form__email" placeholder="Email" required)

                            .login-form__buttons.form__btn-group
                                button.button(id='main-button').form__button_left Main                    
                                input.button(type="submit" id='login-button' value='Registration').form__button_right 
            
        footer.login-footer                
                .login-footer__text Skills management system | © Lena Aviles | Made with Love | 2017
                
        script(src="assets/js/foundation.js")
        script(src="assets/js/app.js")
        block scripts
            script(src="assets/js/login.js")
