extends ../main-layout.pug
block content
	.container
		aside.sidebar
			ul.courses-category.sidebar__courses-category
				li.courses-category__item
					a(href="").courses-category__link Front-End
						span.courses-category__total (25 courses)
				li.courses-category__item
					a(href="").courses-category__link Back-End
						span.courses-category__total (15 courses)
				li.courses-category__item
					a(href="").courses-category__link Workflow
						span.courses-category__total (10 courses)

		main.main-content
	.empty